.nav {
  padding: 10px !important;
  img {
    width: 30px;
  }

  .brand {
    border: 3px solid black;
    background-color: black;
    color: white !important;
    font-size: 28px !important;
  }
  #search {
    border-bottom: 0px;
  }

  .exportBtnContainer {
    .exportBtn {
      line-height: unset !important;
      padding: 15px !important;
      display: flex;
      align-items: center;
    }
    .card a {
      cursor: pointer;
    }
  }

  .disableDropdown {
    background-color: #d2d6dd !important;
    pointer-events: none; /* prevents click events */
    user-select: none; /* prevents text selection */
    cursor: block;
    color: white;
  }
}
